.funkce{
  color: red;
}
  

.typ{
  color: purple;
}
  
.haskel{
  font-weight: bold;
  margin-bottom: 30px;
  background-color: lightgray;
  border: 1px;
}

.bool, .otherwise, .log{
  color: blue;
}

.nadpis{
  font-weight: bold;
}