.odpoved-designer {
    display: none;
}

.odpoved-vyvojar {
    display: none;
}

.odpoved-tester {
    display: none;
}

.odpoved-seo {
    display: none;
}

.odpoved-DOCTYPE {
    display: none;
}

.odpoved-html {
    display: none;
}
.odpoved-DOCTYPE {
    display: none;
}