.import , .slovo, .podminka, .prommenna{
  color: purple;
  font-weight: bolder;
}

.turtle, .text{
  color: darkgreen;
  font-weight: bolder;
}

.window{
  color: lightblue;
  font-weight: bolder;
}

.screen, .shape, .cislo{
  color: red;
  font-weight: bolder;
}

.prikaz{
  color: blue;
  font-weight: bolder;
}

.operatory {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.operatory td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.operatory tr:nth-child(even) {
  background-color: #dddddd;
}