/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px;
  /* Vertically center the text there */
  background-color: #f5f5f5;
}

/* Custom page CSS
  -------------------------------------------------- */
/* Not required for template or sticky footer method. */

body>.container {
  padding: 60px 15px 0;
}

.footer>.container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.code-funkce {
  color: orange;
}

.code-promena {
  color: red;
}

.python-table {
  font-weight: bold;
  background-color: rgb(73, 73, 73);
  color: white;
  border-color: rgb(73, 73, 73);
  border-style: solid;
  border-width: 20px 5px;
}

.odstavec {
  margin-top: 64px;
  margin-bottom: 64px;
}

.odstavec-stred {
  margin-top: 64px;
  margin-bottom: 64px;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.pododstavec {
  margin-top: 64px;
  margin-bottom: 64px;
  padding-left: 50px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.nastred {
  margin: auto;
  width: 100%;
  padding: 10px;
}

.odrazky-podtext li {
  font-weight: bolder;
}

h1,
h2,
h3,
h6 {
  color: #000000;
  font-family: Arial;
  font-weight: bold;
  margin-bottom: 32px;
  text-decoration: underline;
  font-weight: bolder ;
}



p {
  text-indent: 50px;
  font-family: Arial;
}

.usek-kodu{
  text-indent: 0px;
  margin-left: 70px;
}
/* The Modal img */

.myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.myImg:hover {
  opacity: 0.7;
}

#cas-text {
  text-align: right;
  margin-right: 15px; 
  font-weight: bolder;
}

#casovac-text {
  text-align: left;
  margin-right: 15px; 
  font-weight: bolder;
}

.otazka{
  margin-bottom: 20px;
}

.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9);
  /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

.nav-time{
  display: flex;
}

.nav-time-span{
  margin: auto;
  width: 50%;
  position: left;
}

.moveAndTime {
  border-collapse: collapse;
  height: 70px;
  width: 100%;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0)
  }

  to {
    -webkit-transform: scale(1)
  }
}

@keyframes zoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

/* The Close Button */
.close {
  position: absolute;
  top: 40px;
  right: 10px;
  color: white;
  font-size: 60px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: white;
  background-color: white;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}