.box{
  
  background-color: rgb(243, 242, 242);
  width: 300px;
  border: 2px solid black;
  width: 100%;
  margin: auto;
  padding: 10px;
}

.uloha{
  font-weight: bold;
  background-color: lightgrey;
  padding: 20px;
}

.odpoved{
  background-color: lightgrey;
  padding: 20px;
}