
/.idea
/scripty-lekce/python/python-web/lekce2/__pycache__
/lessons/python_web/pracovni listy/lekce6/flask-quiz-game/venv
/lessons/python_web/pracovni listy/lekce9/prvnicast/mujprojekt/mujprojekt/__pycache__
/lessons/python_web/pracovni listy/lekce9/druhacast/mujprojekt/mujprojekt/__pycache__
/lessons/python_web/pracovni listy/lekce9/druhacast/mujprojekt/mojeaplikace/migrations/__pycache__
/lessons/python_web/pracovni listy/lekce9/druhacast/mujprojekt/mojeaplikace/__pycache__
/lessons/python_web/pracovni listy/lekce10/mojeaplikace/zamestnanci/__pycache__
/lessons/python_web/pracovni listy/lekce10/mojeaplikace/zamestnanci/migrations
/lessons/python_web/pracovni listy/lekce10/mojeaplikace/mojeaplikace/__pycache__
lessons/python_web/pracovni listy/todo_projekt/db.sqlite3
lessons/python_web/pracovni listy/lekce11/todo_projekt/db.sqlite3
/lessons/python_web/pracovni listy/lekce11/todo_projekt/todo_app/__pycache__
/lessons/python_web/pracovni listy/lekce11/todo_projekt/todo_projekt/__pycache__
