<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kvízová hra</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <div class="container">
        <h1>Vítejte v kvízové hře!</h1>
        <p>Otestujte své znalosti v našem kvízu. Máte připraveno 5 náhodných otázek.</p>
        
        <a href="/start" class="btn btn-primary">Start Quiz</a>

    </div>
</body>
</html>