.odpoved-designer {
    display: none;
}

.odpoved-vyvojar {
    display: none;
}

.odpoved-tester {
    display: none;
}

.odpoved-seo {
    display: none;
}

.odpoved-DOCTYPE {
    display: none;
}

.odpoved-html {
    display: none;
}

.odpoved-html {
    display: none;
}

.odpoved-title {
    display: none;
}

.odpoved-meta {
    display: none;
}

.odpoved-style {
    display: none;
}

.odpoved-div {
    display: none;
}

.odpoved-h {
    display: none;
}

.odpoved-p {
    display: none;
}

.odpoved-a {
    display: none;
}