.hodnoceni table {
    border-collapse: collapse;
    width: 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.hodnoceni th,
.hodnoceni td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

.hodnoceni th {
    background-color: #f2f2f2;
}

.table-container {
    display: flex;
}